.custom-date {
  width: 100px !important;
  padding: 5px 8px;
  font-size: 14px;
  font-size: 15px;
}

.input-style{
    padding: 3px;
    border: 1px solid #dcdcdc;
    margin-bottom: "5px";
                                                        
}
.label-style{
    padding: 2px;
    color: steelblue;
}

.unclear-text{
    color: green;

}
.other-input{
box-shadow:"inset 0 0 5px 5px #888";
font-size:"15px";                                                                     
}


/* Conteneur des réponses */
.reponses {
  margin-top: 8px;
  margin-left: 20px;              /* indentation des replies */
  border-left: 2px solid #e0e0e0; /* trait vertical léger */
  padding-left: 15px;             /* espace entre le trait et le texte */
}

/* Chaque réponse */
.reponses .list-group-item {
  background: #fff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* léger relief */
}


.offcanvas-body {
    overflow-x: auto;   /* scroll horizontal si nécessaire */
    white-space: nowrap; /* empêche le retour à la ligne automatique */
}

